<div class="container" style="margin-top:5%;">


  <!-- Call to Action Section -->
  <div class="well">
    <div class="row">
      <div class="col-md-8">
        <h4>Set a host file entry to point bookeeper.prefer.io to localhost. Then Click here =></h4>
      </div>
      <div class="col-md-4">
        <a class="btn btn-lg btn-default btn-block" href="http://bookeeper.prefer.io:3000">bookeeper.prefer.io:3000</a>
      </div>
    </div>
  </div>
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to HedJet
      </h1>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i> A</h4>
        </div>
        <div class="panel-body">
          <ul>
            <li> Add Subdomain constrains + modify DB</li>
            <li> Update homepage</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i> E</h4>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i>V</h4>
        </div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <hr>

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; HedJet <%= Time.now.year %></p>
      </div>
    </div>
  </footer>

</div>