<script>
var current_action = "<%= @visitor.current_action %>";
</script>
<div class="container">
<div class='form-style-5'>
Thank You!
</br>
<!--/*
 *
 * Revive Adserver Asynchronous JS Tag
 * - Generated with Revive Adserver v3.2.2
 *
 */-->

<ins data-revive-zoneid="1" data-revive-id="8be5c65f814225b54acd203f7f63c462"></ins>
<script async src="//www.revive.prefer.io/www/delivery/asyncjs.php"></script>
</div>
</div>
