body{
padding-top: 50px !important;
background-color: #0A4600;
background-repeat: no-repeat;
font-family: 'Raleway', sans-serif;
color: white !important;
background-color: #004F2D;
background-image: radial-gradient(at 0 bottom, rgba(27,132,87,0.7) 0%,rgba(27,132,87,0) 60%),radial-gradient(at 90% bottom, #0C6B42 0%,rgba(52,149,107,0) 40%),radial-gradient(at 50% top, rgba(52,149,107,0.6) 0%,rgba(52,149,107,0) 75%),radial-gradient(at right top, #1B8457 0%,rgba(121,74,162,0) 57%);
}
html, body{
min-height: 100%;
}
.form-style-5{
    max-width: 700px;
    padding: 10px 20px;
    /*background: #f4f7f8;*/
    margin: 10px auto;
    padding: 20px;
    /*background: #f4f7f8;*/
    border-radius: 8px;
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
 /*   font-family: Georgia, "Times New Roman", Times, serif; */
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    background: #d2d9dd;
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
    position: relative;
    display: block;
    //padding: 19px 39px 18px 39px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
    background: #109177;
}

.container {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebf1f6+0,abd3ee+28,89c3eb+74,89c3eb+74,d5ebfb+100 */
border-radius: 30px;
/*background-color: grey;*/
padding: 10px;
top:0;
position: relative;
}
.more{
height: 500px;
}



/*** custom checkboxes ***/

input[type=checkbox] { display:none; } /* to hide the checkbox itself */
input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
}
input[type=checkbox] + label:before { content: "\f10c"; } /* unchecked icon */
input[type=checkbox] + label:before { letter-spacing: 10px; } /* space between checkbox and label */

input[type=checkbox]:checked + label:before { content: "\f05d"; } /* checked icon */
input[type=checkbox]:checked + label:before { letter-spacing: 5px; } /* allow space for check mark */

label:hover.radio{
background: lightblue;
}

.no-error{
visibility: hidden;
height: 0px;
margin-bottom: 30px;
}

.error{
visibility: visible;
margin-bottom: 30px;
color: red;
}

#naicslist input{
display: none;
}

#naicslist{
text-align: left;
height: 250px;
overflow-x: hidden;
margin-bottom: 10px;
background-color: #58AE89;
border-radius: 3px;
}

.hidden {
display: none;
}

.bkf-logo {
height: 50%;
width: 50%;
margin-bottom: 50px;
}
.button-primary {
height: 50px !important;
background-color: white !important;
border-color: white !important;
color: darkgreen !important;
}
h5{
letter-spacing: 1px !important;
margin-bottom: 0px !important;
}
.vertab{
border-radius: 30px 0px 0px 30px;
border-top: 2px solid lightgreen;
border-left: 2px solid lightgreen;
border-bottom: 2px solid lightgreen;
padding: 10px;
-webkit-mask-image:-webkit-gradient(linear, left bottom, right top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.vertab.current{
background-color: lightgreen;
color: black;
cursor: pointer;
}
.vertab.previous{
background-color: lightblue;
color: black;
cursor: pointer;
}
.hortab{
border-radius: 30px 30px 0px 0px;
border-top: 2px solid lightgreen;
border-left: 2px solid lightgreen;
border-right: 2px solid lightgreen;
padding: 10px;
-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
}
.hortab.current{
background-color: lightgreen;
color: black;
}
.shadow {
   -moz-box-shadow:    inset 0 0 20px #000000;
   -webkit-box-shadow: inset 0 0 20px #000000;
   box-shadow:         inset 0 0 20px #000000;
}

.hidden-phone{
display: block;
}
.display-phone{
display: none;
}
/* Larger than mobile */
@media (max-width: 550px) {
  .hidden-phone{
display: none;
  }
  .display-phone{
display: block;
  }
.center-phone{
text-align: center;
}
}
